html{
    font-family: "Exo";
}

.text1{
    background-color: #ee99ff;
    text-align: center;
    position: absolute;
    width: 50%;
    left: 25%;
    z-index: 5;
}

.upgs{
    width: 100%;
    position: absolute;
    top: 15%;
}

.upgs>button{
    background-color: #aa88cc;
    width: 180px;
    height: 120px;
    position: absolute;
}

.upgs>button:hover{
    background-color: #bb99dd;
}