html{
    font-family: "Exo";
    background-color: #7744cc;
}

.text1{
    background-color: #ee99ff;
    text-align: center;
    position: absolute;
    width: 60%;
    left: 20%;
    z-index: 5;
}

.text2 {
    background-color: #f92;
    text-align: center;
    position: absolute;
    width: 20%;
    left: 25%;
    top: 7%;
    z-index: 5;
}

.upgs{
    width: 100%;
    position: absolute;
    top: 15%;
}

.upgs>button{
    background-color: #aa88cc;
    width: 180px;
    height: 120px;
    position: absolute;
}

.upgs>button:hover{
    background-color: #bb99dd;
}

.h{
    position: absolute;
    left: 750px;
    background-color: #f42;
    width: 650px;
    height: 50%;
    top: 15%;
    border-radius: 1%;
}

.h>button{
    width: 100px;
    height: 100px;
    background-color: #fa4;
}